<% provide(:title, "About Genus") %>
<script src="//use.typekit.net/cvo3wkw.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

<header>
  <nav class="nst-nav">
    <%= link_to root_path do %>
      <%= image_tag "genus-logo-t.png", alt: "Genus", class: "nst-logo" %>Genus<% end %>
  </nav>
</header>

<main class="ab-main">
  <h1 class="ab-heading">A message from the founder</h1>
  <section class="ab-text">
    <p>
      I'm on a mission to fully unleash the potential of organizations and individuals and to propel them into their uniquely invigorating destinies.
    </p>
    <p>
      I believe organizations naturally operate as adaptive, resilient organisms when left to function on their own instead of being controlled by one or more leaders.
    </p>
    <p>
      For organizations, Genus is a collaborate environment where information flows freely yet coherently among people, allowing the organization to fully benefit from its collective intelligence and creativity.
    </p>
    <p>
      For individuals, Genus is a thriving workplace that values wholeness and purpose far above financial gain, allowing its employees to not only be themselves but become who they never imagined.
    </p>

    <p>Join me in the journey. You'll never regret it!</p>

    <p>~Brandon Bayer</p>
  </section>
  <section class="ab-image">
    <%= link_to "http://twitter.com/feedthebayer", title: "Follow me on Twitter!" do %>
      <%= image_tag "founder.jpg", alt: "Brandon Bayer", class: "ab-img" %>
      @feedthebayer
    <% end %>
  </section>
</main>

