<nav class="home-nav">
  <% if logged_in? %>
    <%= link_to "Log Out", logout_path, method: :delete %>
  <% else %>
    <%= link_to "Log In", login_path %>
  <% end %>
</nav>
<section class="home-content">
  <h1>
    <%= image_tag "genus-logo-t.png", alt: "Genus", class: "home-logo" %>
  </h1>
  <p><strong>
      A flexible & simple GlassFrog alternative for self-managing organizations
  </strong></p>
  <p>
    Coming soon by <%= link_to "Brandon Bayer",
      "http://twitter.com/feedthebayer" %>
  </p>
</section>
