<%# For new conversations, message.conversation = nil & is dropped %>
<section class="msg-new-form">
  <%= form_for [org, message.conversation, message], remote: true do |f| %>
    <%= f.text_area :body, class: 'msg-new-textarea uOvrflHide',
      placeholder: "What's on your mind?" %>
    <%= f.submit class: 'msg-new-submit' %>
  <% end %>
</section>
