<section class="msg-new-form">
  <%= form_for [org, message_parent, message], remote: true do |f| %>
    <%= f.text_area :body, class: 'msg-new-textarea uOvrflHide',
      placeholder: "What's on your mind?" %>
    <% if message_parent.class.to_s == "Conversation" %>
      <%= f.submit "Reply to conversation", id: 'new-message', class: 'msg-new-submit btn-sml' %>
    <% else %>
      <%= f.submit "Start new conversation", id: 'new-message', class: 'msg-new-submit btn-sml' %>
    <% end %>
  <% end %>
</section>
