<% provide(:title, "Log In") %>
<section class="si-content">
  <h1 class="si-heading">Login</h1>
  <p class="si-intro">
    At Genus, we love simplicity; we don't make you create complex, easily
    forgotten passwords. Instead, we'll instantly email you a secure, one-click login link.
  </p>
  <div class="si-form">
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
      <%= f.submit "Email me a new login link", class: "si-form-btn" %>
    <% end %>
  </div>
</section>
