<% provide(:title, "Sign In") %>
<section class="si-content">
  <h1 class="si-heading">Sign-In</h1>
  <p class="si-intro">
    At Genus, we love simplicity; we don't make you create complex, easily
    forgotten passwords. Instead, we'll instantly email you a secure, one-click sign-in link.
  </p>
  <div class="si-form">
    <%= form_for(:session, url: signin_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
      <%= f.submit "Email me a new sign-in link", class: "si-form-btn" %>
    <% end %>
  </div>
</section>
