// Bitters 1.0.0
// http://bitters.bourbon.io
// Copyright 2013-2015 thoughtbot, inc.
// MIT License

@import "colors";
@import "variables";
@import "buttons";
@import "forms";
@import "lists";
@import "tables";
@import "typography";

html {
  background-color: $base-background-color;
  border: 1vw solid $base-background-frame-color;
  min-height: 100%;

  @include media($xlrg-up) {
    border-width: 0.7em;
  }
}

