#{$all-button-inputs},
button, a.button {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: $action-color;
  border-radius: $button-border-radius;
  border-color: darken($action-color, 10%);
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &.btn-sml {
    font-size: 0.9em;
    padding: 0.4em 0.5em;

    @include media($med-up) {
      font-size: $base-font-size;
      padding: 0.5em 0.7em;
    }
  }

  &:hover,
  &:focus {
    background-color: darken($action-color, 8%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
