@import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
$max-width: em(1400);

// Neat Breakpoints
$small-screen: em(600);
$medium-screen: em(740);
$large-screen: em(860);
$xlarge-screen: em(1024);
$xxlarge-screen: em(1200);
$xxxlarge-screen: em(1500);

$sml-up: new-breakpoint(min-width $small-screen);
$med-up: new-breakpoint(min-width $medium-screen);
$lrg-up: new-breakpoint(min-width $large-screen);
$xlrg-up: new-breakpoint(min-width $xlarge-screen);
$xxlrg-up: new-breakpoint(min-width $xxlarge-screen);
$xxxlrg-up: new-breakpoint(min-width $xxxlarge-screen);

$sml-med: new-breakpoint(min-width $small-screen max-width $large-screen);
