<section id="groups-aside">
  <h1 class="app-sectionHeader">
    <%= link_to "Groups", organization_groups_path(@org), class: "app-headingLink" %>
  </h1>
  <ul class="app-asideGroupList">
    <li><%= link_to "Everyone", org %></li>
    <% org.groups.active.each do |group| %>
      <li><%= link_to group.name, [org, group] %></li>
    <% end %>
    <li><%= link_to "New...", organization_groups_path(org, anchor: 'grp-newGroup') %></li>
  </ul>
</section>
