<hr class="grp-hr">
<h1 class="app-sectionHeader">
  Roles in <%= link_to group.name, [group.organization, group],
      class: "app-headingLink" %>
</h1>
<table class="rol-list-table">
  <% group.roles.each do |role| %>
    <tr>
      <td class="rol-list-td">
        <%= link_to role.name, [group.organization, role] %>
      </td>
      <td>
        <% if role.role_assignments.empty? %>
          -
        <% else %>
          <% role.role_assignments.ordered_by_user.each do |assignment| %>
            <div>
              <%= link_to assignment.user.name,
                [group.organization, assignment.user],
                class: "app-subtleLink"%>
            </div>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td role="action-link"><%= link_to "New..",
      new_organization_group_role_path(group.organization, group) %></td>
  </tr>
</table>

