<section class="app-groupsAside" id="app-groupsAside" data-turbolinks-temporary>
  <h1 class="app-sectionHeader">
    <%= link_to "Groups", organization_groups_path(@org), class: "app-headingLink" %>
  </h1>
  <ul class="app-asideGroupList">
    <% org.groups.all.each do |group| %>
      <% count = group.conversations.unread_by(current_user).count %>
      <li><%= link_to group.name, [org, group] %><%= " (#{count})" if count > 0 %></li>
    <% end %>
    <li><%= link_to "New...", organization_groups_path(org, anchor: 'grp-newGroup') %></li>
  </ul>
</section>
