.app-main {
  clear: both;
  @include outer-container;
  padding: 0 1em 1em;

  @include media($med-up) {
    padding: 0 2em 2em;
  }
}

.app-pageHeading {
  font-size: 1.4em;
  text-align: center;

  @include media($med-up) {
    font-size: 2em;
  }
}

.app-sectionHeader {
  color: $green;
  font-size: 1.1em;

  @include media($med-up) {
    font-size: 1.3em;
  }
}

.app-headingLink {
  color: inherit;
}


