$app-base-padding: 1em;

.app-main {
  clear: both;

  @include media($med-up) {
    float: right;
    width: 70%;
  }

  @include media($xxlrg-up) {
    width: 75%;
  }

  &:after {
    content:"";
    display:table;
    clear:both;
  }
}

.app-paddedContainer {
  padding: 0 $app-base-padding;
}

.app-primarySection {
  max-width: 41em;
  padding-bottom: 1em;

  @include media($xxlrg-up) {
    float: left;
    width: 60%;
  }
}

.app-secondarySection {
  margin-top: 1em;

  @include media($xxlrg-up) {
    float: left;
    margin-top: 4.4em;
    width: 40%;
  }

  @include media($xxxlrg-up) {
    padding-left: 4%;
  }
}

.app-aside {
  font-size: 0.9em;
  margin-bottom: 2em;
  padding: 0 $app-base-padding;

  @include media($med-up) {
    float: left;
    margin-top: 5em;
    position: fixed;
    width: 30%;
  }

  @include media($xlrg-up) {
    padding-left: 2%;
  }

  @include media($xxlrg-up) {
    padding-left: 4%;
    width: 25%;
  }

  &:after {
    content:"";
    display:table;
    clear:both;
  }
}

.app-pageHeading {
  font-size: 1.4em;
  margin-bottom: 0.4em;
  text-align: center;

  @include media($sml-up) {
    font-size: 2em;
    margin-bottom: 1em;
  }
}

.app-sectionHeader {
  color: $dark-blue;
  font-size: 1.2em;

  @include media($sml-up) {
    font-size: 1.3em;
  }

  @include media($lrg-up) {
    font-size: 1.4em;
  }
}

.app-headingLink {
  color: $dark-blue;

  &:active,
  &:focus,
  &:hover {
    color: lighten($dark-blue, 5%);
  }
}

.app-pagination {
  margin-bottom: 1em;
  display: inline-block;

  a+a {
    margin-left: 0.3em;
  }
}

.app-subtleLink {
  color: $base-font-color;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    text-decoration: underline;
  }
}
