$app-base-padding: 1em;

.app-main {
  clear: both;

  @include media($med-up) {
    float: right;
    width: 70%;
  }

  // @include media($xxlrg-up) {
  //   width: 75%;
  // }
}

.app-aside {
  font-size: 0.9em;
  margin-bottom: 2em;
  padding: 0 $app-base-padding;

  @include media($sml-up) {
    font-size: 0.9em;
  }

  @include media($med-up) {
    float: left;
    margin-top: 5em;
    position: fixed;
    width: 30%;
  }

  @include media($xlrg-up) {
    padding-left: 5%;
  }

  // @include media($xxlrg-up) {
  //   width: 25%;
  // }
}

.app-paddedContainer {
  padding: 0 $app-base-padding;
}

.app-primarySection {
  max-width: 45em;
  padding-bottom: 1em;

  @include media($xlrg-up) {
    float: left;
    // width: 70%;
    width: 100%;
  }
}

.app-secondarySection {
  @include media($xlrg-up) {
    float: left;
    // width: 30%;
  }
}

.app-pageHeading {
  font-size: 1.4em;
  margin-bottom: 0.4em;
  text-align: center;

  @include media($sml-up) {
    font-size: 2em;
    margin-bottom: 1em;
  }
}

.app-indexContainer {
  margin: 0 auto;
  max-width: 35em;
}

.app-indexSection {
  margin-bottom: 4em;
}

.app-sectionHeader {
  color: $green;
  font-size: 1.2em;

  .app-groupsAside & {
    font-size: 1.4em;
  }

  @include media($sml-up) {
    font-size: 1.3em;
  }
}

.app-headingLink {
  color: inherit;
}

.app-pagination {
  margin-bottom: 1em;
  display: inline-block;

  a+a {
    margin-left: 0.3em;
  }
}


