/*
 *= require_self
 */

@import "normalize";
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "utilities";
@import "flash";
@import "home";
@import "si";
@import "org";
@import "msg";

html.turbolinks-progress-bar::before {
  display: none !important;
}

// Disable form zoom on iOS
@media screen and (-webkit-min-device-pixel-ratio:0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}
