.global-flash {
  font-size: calc(0.8em + 0.4vw);
  text-align: center;
}

.global-flashMsg {
  color: $base3;
  padding: 0.2em;
}

.global-flashMsg.success {
  background-color: $cyan;
}

.global-flashMsg.error {
  background-color: $red;
}

