.grp-newSection {
  margin-top: 1.5em;
  margin-bottom: 3em;

  @include media($sml-up) {
    margin-top: 0;
  }
}

input[type="text"].grp-newTextfield {
  line-height: 24px;

  @include media($sml-up) {
    float: left;
    width: 70%;
  }
}

.grp-newSubmit {
  float: right;
  width: 100%;

  @include media($sml-up) {
    width: 28%;
  }
}

.grp-help {
  clear: both;
  padding-top: 2em;
}

.grp-groupEx {
  list-style-type: initial;
  padding-left: 1.5em;
}

.grp-list {
  padding-left: 1.5em;
  text-indent: -1.5em;
}

.grp-hr {
  @include media($xxlrg-up) {
    display: none;
  }
}
