.grp-showContainer {
  @include media($lrg-up) {
    @include span-columns(8);
  }
}

input[type="text"].grp-newTextfield {
  line-height: 24px;

  @include media($med-up) {
    float: left;
    width: 72%;
  }
}

.grp-newSubmit {
  float: right;
  width: 26%;

  @include media($sml-only) {
    width: 100%;
  }
}

.grp-help {
  clear: both;
  padding-top: 2em;
}

.grp-groupEx {
  list-style-type: initial;
  padding-left: 1.5em;
}
