.home-nav {
  font-size: 1.2em;
  text-align: right;
  margin-right: 1em;
  margin-top: 0.5em;
}

.home-content {
  text-align: center;
  margin-top: 30vh;
}

.home-heading {
  font-size: 6em;
  margin: 0;

  @include media($med-up) {
    font-size: 10em;
  }
}
