.li-content {
  text-align: center;
  margin-top: 3vh;

  @include media($lrg-up) {
    margin-top: 12vh;
  }
}

.li-heading {
  font-size: calc(1.6em + 5vw);
  margin-bottom: 0.5em;

  @include media($lrg-up) {
    font-size: 5em;
    margin-bottom: 0.3em;
  }

  @include media($xlrg-up) {
    font-size: 6em;
  }
}

.li-intro {
  margin: 0 auto;
  max-width: 40em;
  padding: 0 0.5em;
}

.li-form {
  margin: 0 auto;
  margin-top: 1em;
  max-width: 30em;
  padding: 0 0.5em;
  text-align: left;

  @include media($lrg-up) {
    margin-top: 3em;
  }
}

.li-form-btn {
  width: 100%;
}
