.msg-content {
  clear: both;
  padding-top: 1em;
  margin-bottom: 1.3em;
}

.msg-heading {
  margin-bottom: 0;
  padding: 0.1em 0;

  @include media($med-up) {
    font-size: 1.1em;
  }
}

.msg-time {
}

.msg-new-form {
  text-align: right;

  @include media($lrg-up) {
    margin-top: -1em;
  }
}

.msg-new-textarea, .msg-reply-textarea {
  font-size: 0.9em;
  min-height: 2.5em;
}

.msg-new-textarea {
  margin-top: 1em;
}

.msg-new-submit, .msg-reply-submit {
  margin-bottom: 0.4em;
  margin-top: -0.4em;

  @include media($sml-only) {
    width: 100%;
  }
}

