.msg-container {
  // background: $base3-light;
  border-color: $base2;
  border-radius: 4px;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  font-size: 0.9em;
  margin-bottom: 2.5em;
  padding: 1em;
  padding-bottom: 1.5em;

  @include media($lrg-up) {
    padding: 2em;
  }
}

.msg-content {
  clear: both;
  padding-top: 1em;
}

.msg-header {
  font-size: 1.1em;
  margin-bottom: 0;

  @include media($med-up) {
    float: left;
    margin-right: 1em;
  }
}

.msg-time {
  @include media($med-up) {
    float: right;
    line-height: 2.3;
  }
}

.msg-new-textarea {
  font-size: 0.9em;
  min-height: 3em;
}

.msg-new-submit {
  float: right;

  @include media($med-down) {
    width: 100%;
  }
}

.msg-footerSmall {
  float: right;
}
