$logo-size-med: 60px;

.nav-top {
  font-size: 0.9em;
  padding: 0.3em 0.5em 1em;

  @include media($sml-up) {
    font-size: 1em;
  }

  &:after {
    content:"";
    display:table;
    clear:both;
  }
}

.nav-topLeft {
  float: left;

  @include media($sml-up) {
    line-height: $logo-size-med;
  }
}

.nav-topRight {
  float: right;
}

.nav-menuLink {
  @include media($lrg-up) {
    display: none;
  }
}

.nav-logoutLink-top {
  display: none;

  @include media($lrg-up) {
    display: initial;
  }
}

.nav-logoutLink-bottom {
  @include media($lrg-up) {
    display: none;
  }
}

.nav-logo-top {
  display: none;

  @include media($sml-up) {
    display: initial;
    margin-right: 0.5em;
    width: $logo-size-med;
    vertical-align: middle;
  }
}

.nav-logo-bottom {
  display: block;
  margin: 0 auto;
  width: 85px;

  @include media($sml-up) {
    display: none;
  }
}



