.nav-header {
  // @include media($xxlrg-up) {
  //   margin-left: 5%;
  // }
}

.nav-left {
  display: inline-block;
}

.nav-logo {
  float: left;
  width: 75px;
}

.nav-list {
  float: left;
  max-width: 75vw;
  padding-left: 0.5em;
  padding-top: 0.5em;

  a {
    text-decoration: none;
  }

  @include media($med-up) {
    max-width: inherit;
    padding-left: 1.55em;
    padding-top: 1.55em;
  }
}

.nav-list-item {
  display: inline-block;
  margin-bottom: 0.5em;

  &+&, &:first-child {
    margin-right: 0.7em;
  }

  &:first-child {
    display: block;
  }

  @include media($med-up) {
    &+& {
      margin-right: 1.5em;
    }

    &:first-child {
      display: inline-block;
    }
  }
}

.nav-right {
  font-size: 0.9em;
  position: absolute;
  margin-right: 0.5em;
  margin-top: 0.3em;
  right: 0;
  top: 0;

  @include media($med-up) {
    font-size: 1em;
  }
}

