.org-msgSection {
  @include direction-context(right-to-left) {
    @include media($lrg-up) {
      @include span-columns(8);
    }
  }
}

.org-aside {
  margin-bottom: 2em;

  @include direction-context(right-to-left) {
    @include media($lrg-up) {
      @include span-columns(4);
      padding-left: 3em;
    }
  }
}

.org-asideHeading {
  color: $green;
  font-size: 1.2em;
}

.org-group {
  font-size: 0.9em;
}


