input[type="text"].usr-newTextfield {
  line-height: 24px;
}

.usr-newSubmit {
  width: 100%;

  @include media($sml-up) {
    float: right;
    width: inherit;
  }
}

.usr-gravatar {
  border-radius: 3px;
  float: left;
  margin-right: 1em;
  width: 40px;

  @include media($sml-up) {
    width: 45px;
  }
}

.usr-newUsrNotify {
  display: inline-block;
  margin-bottom: 1em;
}

