.uTextarea {
  overflow: hidden;
}

.uOverflowAuto {
  overflow: auto;
}

.uNegativeLinkColor {
  color: $negative-color;

  &:active,
  &:focus,
  &:hover {
    color: darken($negative-color, 15%);
  }
}

.uSmallColor {
  color: $small-color;
}

.uClearAfter:after {
  content:"";
  display:table;
  clear:both;
}

.uAlignCenter {
  text-align: center;
}

.uBlock {
  display: block;
}

