.uTextarea {
  overflow: hidden;
}

.uOverflowAuto {
  overflow: auto;
}

.uNegativeLinkColor {
  color: $negative-color;

  &:active,
  &:focus,
  &:hover {
    color: darken($negative-color, 15%);
  }
}
